.view-generic-input-field {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;

    &--without-margin{
        margin: 0;
    }

    &__input {
        padding: 0;
        outline: none;
        border: 0;
        width: 100%;
        font-size: 16px;
        &__icon {
            width: 20px;
            height: 20px;
            margin: 5px 10px 5px 5px;
            cursor: pointer;
        }
        &--disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    
    &__icon--left {
        flex-direction: row-reverse;
        margin-right: 10px;
    }

    &__container {
        display: flex;
        padding: 8px;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(black, 0.5);
        
    }

    &__label {
        font-size: 18px;
        margin-bottom: 10px;
    }
}